.container {
  /* width: 20%; */
  width: max-content;
}

.container > div.warningContent {
  width: inherit;
  border: 2px solid red;
}

.container span {
  color: red;
  font-weight: bold;
  letter-spacing: 1.2px;
}
.container span::before {
  content: "!";
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 5px;
  border-radius: 50%;
  text-align: center;
  background: red;

  color: white;
}
