.App {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  width: 1200px;
  margin: 0 auto;

  grid-template-areas:
    "h h"
    "d m";
}

.app-wrapper-content {
  grid-area: m;
  background: cornflowerblue;
}

