.App {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  width: 1200px;
  margin: 0 auto;

  grid-template-areas:
    "h h"
    "d m";
}

.Header {
  grid-area: h;
  background: green;
}

.Header img {
  width: 20px;
}
.Dashboard {
  grid-area: d;
  background: burlywood;
}
.Main {
  grid-area: m;
  background: cornflowerblue;
}
