  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-decoration: none;
}
.App {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  width: 1200px;
  margin: 0 auto;

  grid-template-areas:
    "h h"
    "d m";
}

.app-wrapper-content {
  grid-area: m;
  background: cornflowerblue;
}


.flexible {
  display: flex;
}
.flexible.horizontal {
  flex-direction: row;
}
.flexible.vertical {
  flex-direction: column;
}
.flexible.vertical-reverse {
  flex-direction: column-reverse;
}
.flexible.jStart {
  justify-content: flex-start;
}
.flexible.jEnd {
  justify-content: flex-end;
}
.flexible.jCenter {
  justify-content: center;
}
.flexible.jAround {
  justify-content: space-around;
}
.flexible.jBetween {
  justify-content: space-between;
}
.flexible.aStart {
  align-items: flex-start;
}
.flexible.aEnd {
  align-items: flex-end;
}
.flexible.aCenter {
  align-items: center;
}
.flexible.wrap {
  flex-wrap: wrap;
}
.flexible.noWrap {
  flex-wrap: nowrap;
}
.flexible.grow {
  flex-grow: 1;
}
.flexible.noGrow {
  flex-grow: 0;
}
.flexible.shrink {
  flex-shrink: 1;
}
.flexible.noShrink {
  flex-shrink: 0;
}
.commonErrorContainer {
  width: max-content;
  border:1px solid #BF7A76;
  background: #FEDCE0;
  color: #BF7A76;
}