.avatarDescription {
    padding-left: 10px;
}
.imageContainer {
    max-width: 200px;
}
.imageContainer  img {
    width: 100%;
}
.statusContent:hover {
    transition: all 0.4s;
    background: #45454524;
    cursor: pointer;
}