.userContaienr {
    display: grid;
    grid-template-columns: 125px 275px;
    grid-template-rows: 133px 1fr;
    gap: 5px 5px;
    grid-template-areas: "a m" "b m";
    margin-bottom: 5px;
}
.paginationContainer {
    width: 400px;
    overflow: auto;
}
.active {
    font-weight: bold;
    font-size: 1.2em;
}

.paginContent {
    width: max-content;
    cursor: pointer;
}

.avatar {
    overflow: hidden;
}
.avatar img{
    width: 100%;
    height: auto;
}
.avatar {
    grid-area: a;
}
.btn {
    grid-area: b;
}
.message {
    grid-area: m;
    background: rgb(107, 106, 106);
    color: white;
    padding: 5px;
}
.btn button{
    width: 100%;
    grid-area: b;
}

.btnShowMoreContaoner {
    margin: 15px;
}

